/* Own CSS file */

.col-centered{
    float: none;
    margin: 0 auto;
}

#movielist{
	margin: 0 auto;
}

.caption h3 {
	text-align: center;
}

.modal-body img {
	margin: 0 auto;
}

#searchresults p{
	margin: 50px auto 0 auto;
}